
div.olga5_shp {
    background-color: yellow;
    border: 12px solid red;
    outline: solid 8px blue;
    padding: 9px;
    padding-top: 2px !important;
    margin-top: 5px;
    margin-left: 25px;
	width: 255px;
    height: 88px;
}

div.olga5_shp_shdw {
    background-color: yellow;
    border: 12px solid red;
    outline: solid 8px blue;
    padding: 9px;
    padding-top: 2px !important;
    margin-top: 5px;
    margin-left: 25px;
	width: 255px;
    height: 88px;
}