.olga5_htmlCode {
    word-wrap: normal;
    /*border: 1px solid coral;*/
    outline: 1px solid coral;

    background-color: lavenderblush;
    font-family: courier new monospace;
    font-size: 0.7em;
    line-height: 0.77em;

    padding-left: 8px;
    white-space: nowrap;
    width: 97%;
    overflow-x: auto;
    overflow-y: auto;
}