.olga5_textNshow {
    border: none;
    width: 100%;
    height: 166px;
margin-bottom: 0.2em;
    background-color: transparent;
    padding: 0px;
    border-radius: 3px;

    overflow-x: auto;
    overflow-y: hidden;
}

.olga5_textNshow table {
    border: none;
    width: 100%;
    /*padding: 2px !important;*/
}

.olga5_textNshow td {
    border-width: 0px;
    border: none !important;
    padding: 0 !important;
    border: solid 1px lightgray;
    /*display: flex;*/
}

.olga5_textNshow td div {
    width: 99%;
    background-color: lavenderblush;
    color: black;

    font-size: smaller;
    overflow-x: hidden;
    overflow-y: hidden;

    direction: rtl;
    text-align: left;
	text-align: -moz-left;
	text-align: -webkit-left;
}

.olga5_textNshow pre {
    padding-left: 6px;
    margin-left: 4px;
    margin-top: 0;
        margin-bottom: 0;
    direction: ltr;
    background-color: aliceblue;
    /*border: solid 1px lightblue;*/
}

.olga5_textNshow td:last-child {
    max-width: 426px;
    min-width: 40px;
    width: 40%;
    padding: 0px;
    border: none;
    /*background-color: darkgray;*/
}

.olga5_textNshow iframe {
    height: calc(100% - 6px);
    width: 100%;
    border: none;
    top: 2px;
    position: relative;
}

/*  мой скроллинг
*/

.olga5_textNshow td,
.olga5_textNshow tr,
.olga5_textNshow tbody,
.olga5_textNshow table {
    height: inherit;
}

.olga5_textNshow td:first-child div::-webkit-scrollbar-track {
    border-radius: 3px;
}

.olga5_textNshow td:first-child div::-webkit-scrollbar {
    width: 6px;
    background-color: lightgray;
}

.olga5_textNshow td:first-child div::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: darkgray;
    border-bottom: solid 1px gray;
    border-top: solid 1px gray;
}

.olga5_textNshow td:first-child div:hover::-webkit-scrollbar-thumb {
    background-color: gray;
}

.olga5_textNshow td div {
    height: 95%;
    background-color: transparent;
    display: block;
    overflow: auto;
    border: solid 1px lightblue;
}

i[title]:not(.olga5_popup),
u[title]:not(.olga5_popup),
b[title]:not(.olga5_popup),
code[title]:not(.olga5_popup),
span[title]:not(.olga5_popup) {
  cursor: help;
  padding-left: 2px;
  padding-right: 2px;
  color: black;
  /* font-weight: bold; */
  font-style: italic;

    background-color: LavenderBlush;
    border-radius: 6px;
    padding-bottom: 2px;
    font-family: sans-serif;
    font-size: 88%;
    border: 1px dotted aqua;
}

i[title].olga5_snd:not(.olga5_popup) ,
b[title].olga5_snd:not(.olga5_popup) ,
code[title].olga5_snd:not(.olga5_popup) ,
span[title].olga5_snd:not(.olga5_popup)  {
    cursor: pointer;
    background-color: gold;
    border: 1px solid darkgray;
    border-radius: 5px;
}
/*
li > b:first-child {
  font-size: small;
} */
/* li+b::first-letter,
::marker+b::first-letter{ */

/* li+b::first-letter,
li::marker{    
  font-family: monospace;
    font-size: large;
    padding-right: 1px;
} */
