.select-shp td {
    padding-left: 10px;
    padding-bottom: 10px;
}

.select-shp input {
    margin: 0;
    padding: 0;
    padding-left: 1px;
    padding-right: 2px;
    cursor: pointer;
    border-radius: 4px;
    background-color: gold;
}

h4 input {
	margin: 0;
padding: 0;
padding-left: 4px;
padding-right: 4px;
cursor: pointer;
border-radius: 9px;
padding-bottom: 2px;
}
