.cboxed {
    position: fixed;
    top: 3px;
    right: 8px;
    width: 104px;
    height: calc(100% - 12px);
    background-color: aliceblue;
    border: none;
    z-index: 999999;
    margin: 2px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-bottom: 4px;
}

.cboxed input[type="button"] {
    border-radius: 3px;
    float: right;
    margin-top: 2px;
    cursor: pointer;
}

.cboxed input[type="checkbox"] {
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
}

.cboxed input[type="number"] {
    cursor: pointer;
    width: 2.8em;
    font-size: smaller;
    padding: 0;
    border: 1px solid lightgrey;
    height: 12px;
    vertical-align: baseline;
}

.cboxed .divs{
    border: 1px solid aqua;
    padding-left: 3px;
    padding-bottom: 0px;
    width: calc(100% - 16px);
    /* height: calc(100% - 6px); */
    overflow-y: hidden;
    overflow-x: hidden;
    direction: rtl;
    height: auto;
}

.cboxed p {
    margin: 0;
    margin-top: 1px;
    cursor: auto;
}

.frame i.button{
    border: 1px solid gray;
    padding: 0;
    display: inline-block;
    margin-right: 6px;
    cursor: pointer;
    border-radius: 5px;
    padding-left: 2px;
}
.frame i.button:active {
    transform: scale(0.96);    /* слегка уменьшается */
    border-color: black;
  }

#div-etalon{
    display: none;
}

.cboxed div.frame {
    max-height: fit-content;
    margin-top: 7px;
    /* border: 1px dotted gray; */
    background: beige;
    line-height: 11px;
}

.cboxed div {
    direction: ltr;
    line-height: 14px;
    font-size: small;
    /* border: 1px solid lightgreen; */
    margin-bottom: 4px;
    padding-bottom: 3px;
}
  }
  
.cboxed div.div-shp {
  margin-top: 6px;
  margin-left: 6px;
  border-top: 1px solid gray;
}

.cboxed p i{
    min-width: 30px;
    display: inline-block;
}
.cboxed p b{
    min-width: 10px;
}

.cboxed b {
    min-width: 28px;
    display: inline-block;
}

.cboxed span b {
    font-size: smaller;
    padding-right: 1px;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: bold;
    margin-right: 0;
    margin-left: 0;
    width: 10px;
    display: inline-block;
    border: 1px solid aqua;
    border-radius: 3px;
    cursor: pointer;
}

.cboxed span b:nth-child(2) {
    border-radius: 8px;
}
.cboxed span b.disable {
    cursor: auto;
    border-color: transparent;
}
.cboxed span{
    cursor: auto;
}

.cboxed b.active {
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
    cursor: pointer;
}

.cboxed .pitch {
    display: inline-block;
    height: 12px;
    vertical-align: top;
    align-content: center;
}

.cboxed .pitch b {
    font-weight: bold;
    color: black;
    border-radius: 8px;
}

div.olga5_shp_copy,
div.olga5_shp {
    background-color: yellow;
    border: 6px solid red;
    outline-width: 5px;
    outline-style: solid;
    outline-color: blue;
    /* outline: solid 9px blue; */
    width: 155px;
    height: 48px;
    margin-left: 11px;
    position: relative;
    padding-left: 6px;
    text-indent: 15px;
    position: absolute;
}

div.olga5_cart {
    cursor: pointer;
}
div.olga5_cart.moved {
    cursor: grab;  
}

.olga5_shp_copy>p,
.olga5_shp>p {
    color: black;

    font-family: monospace;
    font-size: smaller;
    display: block;
    line-height: 12px;

    position: inherit;
    width: inherit;
    height: inherit;
    opacity: 0.9;
    word-break: break-word;

    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.thetext {
    overflow: auto;
    width: calc(99% - 110px);
    border: solid 1px gray;
    padding-left: 5px;
    background-color: aliceblue;
    font-family: serif;
    font-kerning: normal;
    font-size: small;
    border: 1px solid aqua;
    border-radius: 5px;
}

.thetext td {
    vertical-align: baseline;
}

.thetext pre {
    border: 1px aqua dotted;
    float: right;
    margin-right: 5px;
    border-radius: 5px;
    padding-bottom: 4px;
    padding-top: 6px;
    background-color: white;
}

.thetext ul {
    margin-block-start: 0.2em;
    margin-block-end: 0.3em;
}

.pre-head {
    margin: 0px 155px 0px 0px;
    margin-right: 33%;
    line-height: 8px;
    text-align: center;
    background-color: transparent;
    /* vertical-align: super; */
    font-size: large;
    padding-top: 5px;
}

#main .olga5_shp {
    width: 260px;
    padding-left: 4px;
}

/* ------------------------------------ */
.div {
    position: relative;
    overflow: scroll;
    -webkit-user-drag: none;    /*   сделать #div1 не draggable вообще:  */
    user-select: none;
}

.cbo {
    position: absolute;
    height: 800px;
    width: 1000px;
    background-image:
        linear-gradient(90deg, gray 1px, transparent 1px),
        linear-gradient(0deg, gray 1px, transparent 1px);
    background-color: transparent;
}

.div span:first-child {
    position: sticky;
    top: 6px;
    right: 18px;
    float: right;
    background-color: yellow;
    color: black;
    line-height: 10px;
    left: 111px;
}

#div1 {
    position: relative;
    height: 80vh;
    width: calc(100% - 166px);

    border: 3px green dashed;
    background-color: lightgreen;
    min-height: 360px;
    min-width: 360px;
}

#div2a, 
#div2 {
    border: 3px blue dashed;
    height: 70vh;
    width: 66vw;
    background-color: lightblue;
}

#div3a,
#div3 {
    border: 3px red dashed;
    height: 50vh;
    width: 56vw;
    background-color: lightpink;
}

#div4a,
#div4 {
    border: 3px lightgray dashed;
    height: 22vh;
    width: 46vw;
    background-color: bisque;
    min-height: 144px;
}

#cbo2a,
#cbo2 {
    background-size: 20px 20px; width: 2400px; height: 1800px; 
}

#cbo4a,
#cbo4 {
    background-image:
        linear-gradient(90deg, lightgray 1px, transparent 1px),
        linear-gradient(0deg, lightgray 1px, transparent 1px);
}
#ref1{
    cursor: pointer;
}
.absent{
    color:gray;
}

.olga5_shp {
    cursor: pointer;
}
.olga5_shp:not(.o5_fixed){
    cursor: grab;
}
.olga5_shp.o5_moved {
    cursor : grabbing;
}

#btnScrollHead{
    position: absolute;
    top: 2px;
    right: 2px;
    width: 30px;
    padding: 0px 2px;
    background-color: transparent;
    color: black;
    border: 1px red solid;
    border-radius: 5px;
    font-size: x-small;
}
.btnCallScroll{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0px 2px;
    background-color: yellow;
    color: black;
    border: 1px red solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: x-small;
}
.btnCallScroll:active {
    box-shadow: -1px -1px #666;
    transform: translateY(1px);
  }

.body,
.div1,
.div2,
.div3,
.div4{
    cursor: pointer;
}